@page "/"

@model Examen_Medii_de_programare.Pages.Toys.IndexModel;


@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Be a kid again!</h1>

    <div class="imagini" style="display:inline-block">
        <img src="https://www.toysrus.com/on/demandware.static/-/Library-Sites-RefArchSharedLibrary/default/dwe897a071/hot%20&%20new/Funko%20Pop%20SW%20Bad%20Batch_593x385.jpg" />
        <img src="https://www.toysrus.com/on/demandware.static/-/Library-Sites-RefArchSharedLibrary/default/dw1043d101/hot%20&%20new/BarbieColorRevealFoamDoll_593x385.jpg" />
        <img src="https://www.toysrus.com/on/demandware.static/-/Library-Sites-RefArchSharedLibrary/default/dw713cb558/hot%20&%20new/Step2-Waterfall-Discovery-Wall_thumb.jpg" />
    </div>
   
</div>
